html{
	background-color: lightgrey;
	font-family: ubuntu;
}

body{
    width: 70%;
    background-color: white;
    vertical-align: middle;
    padding: 50px 50px 50px 50px;
    margin: 10px auto auto;
}

/* ------- TITRE ------- */
#titre{
	background: lightblue;
	text-align: center;
	padding: 7px;
	margin-bottom: 5%;
	border: solid 1px;
}

.bloc-titre{
    background-color: #81adff;
    padding: 1px 0px 1px 30px;
    margin: 5% 0px 5px 0px;
    box-shadow: 8px 10px 0px #aaa;
    width: 95%;
}
/* ----- CONTENUE ----- */
a, a:hover {
  text-decoration: none;
}

#top .top-left img{
	margin: 0px 10px 0px 0px;
}

.top-left{
	float: left;
}

.top-right{
	float: right;
}

.bloc{
	width: 100%;
	overflow: auto;
}

.bloc-right{
	float: right;
	display: block;
	width: 49%;
}

.bloc-left{
	float: left;
	display: block;
    width: 49%;
}
